[Unit]
Description=redis queue worker
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/srv/smartmirror/
Environment=PYTHONPATH=/srv/smartmirror/
ExecStart=/srv/virtualenv/bin/python deployment/redis_worker/worker.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
