#time {
	font-family: "Helvetica"; 
	font-size: 92px;
/*	border-bottom-style: solid;
	border-color: white;
	border-width: 1px;*/
}
#date {
	font-family: "Helvetica"; 
	font-size: 42px;
	font-style: italic;
}