body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Andale Mono, monospace;
    font-size: 16px;
}
#reminder_icon {
	font-size: 200px !important;
}
.hide_errors {
	display: none;
}
#delete_reminder {
	display: none;
}
@media only screen and (min-width : 601px) and (max-width : 1260px) {
	.toast {
		width: 100%;
		border-radius: 0;
	} 
}

@media only screen and (min-width : 1261px) {
	.toast {
		width: 100%;
		border-radius: 0; 
	} 
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
	#toast-container {
		min-width: 100%;
		bottom: 0%;
		top: 90%;
		right: 0%;
		left: 0%;
	} 
}

@media only screen and (min-width : 1261px) {
	#toast-container {
		min-width: 100%;
		bottom: 0%;
		top: 90%;
		right: 0%;
		left: 0%; 
	} 
}
a.active {
    color: #26a69a !important;
}
a:hover {
    font-weight: 900 !important;
}
.tabs .tab a {
    color: #26a69a !important;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #ffff !important;
}
.tabs .indicator {
    background-color: #26a69a !important;
}
a {
    color: #26a69a !important;
}