#setup_view {
    height: 500px;
    background-color: lightgrey;
}
#setup_top {
    height: 15%;
}
#setup_middle {
    height: 65%;
}
#setup_bottom {
    height: 20%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Andale Mono, monospace;
}
main {
  flex: 1 0 auto;
}
#setup_config {
    display: none;
}